h1{
font-family: "Montserrat";
size:3.5rem;
line-height:1.5;
font-weight:900;
}
#title{
    background-color:#ff4c68;
    color:white;

}
.container-fluid{
    padding:3% 15%;
    size:3rem;
}

body{
    font-family:"Montserrat";
}
.nav-link{
    color:white;

}
.navbar-brand{
    padding-left:15%;
    size:2.5rem;
    font-weight: bold;
    color:white;
}
.download-button{
    margin-top:15%;
}
.title-image{
    transform:rotate(30deg);
    width:60%;
    padding-top:40px;
    margin-bottom:-50px;
    
}
.sec-2-icons{
    text-align: center;
}
.icon-clr{
color:#f77b8d;
margin:1rem;
}
.icon-clr:hover{
    color:#fa0e5d;
}
#features{
    padding:5% 15%;
    background-color:white;
    position:relative;
    z-index:3;
}
p{
    color:#8f8f8f;
    font-weight:bold;
}
/* testimonials */
#testimonials{
    text-align:center;
    background-color:#f77b8d;
    color:white;
    
}
/* press */
#press{
    background-color:#f77b8d;
    text-align:center;
    padding:0% 0% 3%;
}
.testimonial-image{
    width:8%;
    border-radius:50%;
    margin:10% auto;
}
.press-img{
    width:22%;
    padding:3% 3% 5%;
}
.carousel-text{
    padding:5% 15%;
}
/* pricing */
#pricing{
    text-align:center;
    margin:3% ;
}
h2{
    font-weight:900;
    
}
h3{
    font-weight:bolder;
}
.pricing-start{
    padding:5% 0% 0%;
    
}
.pricing-row{
    padding:5% 0% 0%;
}
@media (max-width:1020px){
    #title{
        text-align:center;
    }
    .title-image{
     
     transform:rotate(0deg);

    }
}
/* @media (max-width:1020px){
    #features{
        padding:5% 15%;
        background-color:white;
        
    }
} */
#cta{
    background-color:#ff4c68;
    text-align:center;
    padding:5% 5%;
}
.footer-h3{
    padding:3% 15%;
    font-weight:bold;
    color:white;
}
#footer{
    text-align:center;
    padding:5% ;
}
.fa-footer{
    padding:2% 0.5%;
}